
<div style="padding-top:10px"></div>

<p style="float:left">@Html.ActionLink("Nagłówek", "SADList", "Transport", new { @class = "btn btn-default btn-lg btn-block", @id = "Header" })</p>
<p style="float:left">@Html.ActionLink("Faktury Importowe", "SADInvoice", "Transport", new { @class = "btn btn-default btn-lg btn-block", @id = "Invoice" })</p>
<p style="float:left">@Html.ActionLink("Pozycje", "Positionslist", "Transport", new { @class = "btn btn-default btn-lg btn-block", @id = "Position" })</p>



