@{
    ViewBag.Title = "Potwierdzenie zapomnianego hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sprawdź pocztę e-mail, aby zresetować hasło.
    </p>
</div>
	
