
<h2>Zalogowano</h2>


<h4>Wybierz moduł :</h4>
<div class="row">
	<div class="col-sm-6">
		<p>@Html.ActionLink("Faktury Importowe", "InvoiceList", "Office",null, new { @class = "btn btn-default btn-lg btn-block" })</p>

	</div>
	<div class="col-sm-6">
		<p>@Html.ActionLink("SAD Importowy", "SADList", "Transport",null, new { @class = "btn btn-default btn-lg btn-block" })</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		@if (User.IsInRole("Admin"))
		{
			<p>@Html.ActionLink("Administracja", "UserList", "Management",null, new { @class = "btn btn-default btn-lg btn-block" })</p>
		}
		else
		{
			<p>@Html.ActionLink("Administracja", "UserList", "Management", new { @class = "btn btn-default btn-lg btn-block",onclick="javascript:return false", @disabled="disabled"})</p>
		}

	</div>
</div>