body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
	border: 0;
}
tr.noBorder {
	border: none;
}

td.noBorder {
	border: none;
	padding: 5px;
	text-align: center;
}

.tableH {
	border-collapse: collapse;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.selected {
	background-color: #a4d4e6;
}
.table-fixed thead {
	width: 97%;
}

.table-fixed tbody {
	height: 230px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
	display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
		float: left;
		border-bottom-width: 0;
	}


.even {
	background-color: #f9f9f9;
}

.odd {
	background-color: #ffffff;
}


/* navbar changes*/


/*.navbar-inverse {
	background-color:  #a4d4e6 !important;
}

.navbar-brand {
	color: black !important
}

	.navbar-brand:visited {
		color: black !important
	}

.navbar-default-color {
	color: black !important
}


.navbar-brand:hover {
	color: white !important
}
.linkInNavbar:visited {
	color: black !important
}
.linkInNavbar:hover {
	color:white !important
}
.linkInNavbar {
	color: black !important
}*/