

<center>
	<h2>Menu</h2>
</center>

<p>@Html.ActionLink("Użytkownicy", "UserList", "Management",null, new { @class = "btn btn-default btn-lg btn-block" })</p>
<p>@Html.ActionLink("Role", "RoleList", "Management",null, new { @class = "btn btn-default btn-lg btn-block" })</p>
