@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Witaj, " + User.Identity.GetUserName() + "!", "LoginSuccessfull", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "linkInNavbar" })
        </li>
        <li><a class="linkInNavbar" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
    </ul>
	}
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "linkInNavbar" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "linkInNavbar" })</li>
    </ul>
}
