@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zablokowano";
}

<hgroup>
    <h1 class="text-danger">Zablokowano.</h1>
    <h2 class="text-danger">To konto zostało zablokowane. Spróbuj ponownie później.</h2>
</hgroup>
